@tailwind base;
@tailwind components;
@tailwind utilities;

.marker {
  background-image: url("./assets/img/location-indicator-red.png");
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.checked-true {
  color: orange;
}
